{% extends "base.html" %}
<head>

</head>
<body>
    {% block content %}
    <main>
        <div id="banner">
        </div>
        <h1>Departments</h1>
        <section id="main-widgets">
            {% for category in categories %}
            <div class="widget" style="background-image: url('{{ category.image.url }}');">
                <a href="category/{{ category.id }}">
                    <h3>{{ category.name }}</h3>
                </a>
            </div>
            {% endfor %}
        </section>
        <aside id="cart-aside">
            {% if request.user.is_authenticated %}
            <button class="cart-toggle"><i class="fa fa-close"></i></button>
            <h2>Shopping Cart</h2>
            <ul id="cart">
                <li>No items in cart</li>
            </ul>
            <p>Total: $<span id="total">0</span></p>
            <button onclick="checkout()" class="checkout-button">Checkout</button>
            <a href="{% url "logout" %}">Log Out</a>
            {% else %}
            <button class="cart-toggle"><i class="fa fa-close"></i></button>
            <h2>Shopping Cart</h2>
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
            
        </aside>
    </main>
    <script>
    $('.cart-toggle').on('click', function() {
        $('#cart-aside').toggleClass('active');
    });
    $('.nav-toggle').on('click', function() {
        $('#navbar').toggleClass('active');
        
    });
    </script>
    {% endblock content %}
</body>
</html>