{% extends "base.html" %}
<head>

</head>
<body>
    {% block content %}
    <main>
        <div id="banner">
        </div>
        <h1>Departments</h1>
        <section id="main-widgets">
            {% for category in categories %}
            <div class="widget" style="background-image: url('{{ category.image.url }}');">
                <a href="category/{{ category.id }}">
                    <h3>{{ category.name }}</h3>
                </a>
            </div>
            {% endfor %}
        </section>
        
    </main>
    <script>
    $('.cart-toggle').on('click', function() {
        $('#cart-aside').toggleClass('active');
    });
    $('.nav-toggle').on('click', function() {
        $('#navbar').toggleClass('active');
        
    });
    </script>
    {% endblock content %}
</body>
</html>