{% extends "base.html" %}
<head>

</head>
<body>
    {% block content %}
    <main>
        <div id="banner">
        </div>
        <h1>Departments</h1>
        <section id="main-widgets">
            <div id="tech-container">
                <a href="{% url "tech_page" %}"></a>
                <span>Computers</span>
            </div>
            <div id="fasion-container">
                <a href="{% url "fashion_page" %}"></a>
                <span>Fashion</span>
            </div>
            <div id="auto-container">
                <a href="{% url "auto_page" %}"></a>
                <span>Auto</span>
            </div>
            <div id="jewelery-container">
                <a href="{% url "jewelry_page" %}"></a>
                <span>Jewelry</span>
            </div>
            <div id="food-container">
                <a href="{% url "food_page" %}"></a>
                <span>Food</span>
            </div>
        </section>
        <aside id="cart-aside">
            <button class="cart-toggle"><i class="fa fa-close"></i></button>
            <h2>Shopping Cart</h2>
            <ul id="cart">
                <li>No items in cart</li>
            </ul>
            <p>Total: $<span id="total">0</span></p>
            <button onclick="checkout()" class="checkout-button">Checkout</button>
        </aside>
    </main>
    <script>
    $('.cart-toggle').on('click', function() {
        $('#cart-aside').toggleClass('active');
    });
    $('.nav-toggle').on('click', function() {
        $('#navbar').toggleClass('active');
        
    });
    </script>
    <script src="static/script.js"></script>
    <script src="static/cart.js">
        window.onload = loadCart;
    </script>
    {% endblock content %}
</body>
</html>